<div class="w-full mx-auto flex flex-col h-dvh bg-[#FFFFFF] overflow-auto">
  <header class="mb-16">
    <div class="bg-[#8567FA] flex gap-2.5 p-5 flex-col  items-center justify-evenly
    fixed w-full text-[#FEFEFE] rounded-b-2xl py-5">
      <div class="flex flex-row justify-start w-full ">
        <button class="justify-start" [routerLink]="['/post-apartment']"><img src="../assets/arrow.png"></button>
        <h2 class="mx-auto text-xl font-semibold">Ваше объявление</h2>
      </div>
    </div>
  </header>
  <div class="mt-7 container mx-auto px-5 md:px-40 xl:px-96 flex flex-col">
    <h3 class="font-semibold text-2xl w-full text-center mt-52">Поздравяем, ваше объявление успешно размещено</h3>
    <h2 class="font-semibold text-6xl w-full text-center mt-2.5">🎉</h2>
  </div>
  <div class="w-full fixed px-5 md:px-40 xl:px-96 bottom-0 left-0 mt-3.5">
    <app-next-btn buttonText="Перейти в мой профиль" [routerLink]="['/profile']"> </app-next-btn>
  </div>
</div>

