<div class="w-full mx-auto flex flex-col h-dvh bg-[#EBEBEB] overflow-auto">
  <header class="mb-16"><app-sort-bar></app-sort-bar></header>
  <div class="container mx-auto px-5 md:px-40 xl:px-96">
    <app-big-card [dwelling]="dwelling[0]" ></app-big-card>
    <app-big-card [dwelling]="dwelling[1]"></app-big-card>
    <app-big-card [dwelling]="dwelling[2]"></app-big-card>
    <app-big-card [dwelling]="dwelling[2]"></app-big-card>
    <app-big-card [dwelling]="dwelling[2]"></app-big-card>
</div>
  <div class="container mx-auto px-5 md:px-40 xl:px-96 fixed bottom-0 left-0">
    <app-next-btn></app-next-btn>
  </div>
</div>
