<div class="h-dvh">
  <app-sort-bar></app-sort-bar>
  <div class="w-full relative flex justify-center bg-[#EBEBEB] p-5 md:p-10 overflow-hidden">
    <div class=" flex justify-center gap-10">
      <div class="hidden md:flex flex-col gap-5">
        <app-filter-rents></app-filter-rents>
        <app-next-btn  [routerLink]="['/match']" (click)="sendId()" [buttonText]="buttonText">  </app-next-btn>
      </div>
      <div class="gap-5 flex flex-wrap justify-center ">
        @if (Cards$ | async; as cards){
          @for (card of (cards | filter:_filter.getFilter()); track card.id ){
            <app-big-card [card] = 'card'></app-big-card>
          }
        }
      </div>
    </div>
  </div>
  <div class="md:hidden w-full fixed px-5 md:px-40 xl:px-96 bottom-0 left-0">
    <app-next-btn  [routerLink]="['/match']" (click)="sendId()" [buttonText]="buttonText">  </app-next-btn>
  </div>
</div>
