<app-sort-bar (filterChange)="handleFilterChange($event)"></app-sort-bar>
<div class="w-full relative flex justify-center h-dvh bg-[#EBEBEB] overflow-auto">

  <div class="xl:max-w-screen-lg">
    <div class="container gap-5 flex justify-center flex-wrap">
      @if (Cards$ | async; as cards){
        @for (card of (cards | filter:filterData); track card.id ){
          <app-big-card [card] = 'card' ></app-big-card>
        }
      }
    </div>
    <div class="w-full fixed px-5 md:px-40 xl:px-96 bottom-0 left-0">
      <app-next-btn  [routerLink]="['/match']" (click)="printId()" [buttonText]="buttonText">  </app-next-btn>
    </div>
  </div>
</div>
