<div [formGroup]="registrationForm"  class="w-full mx-auto flex flex-col h-dvh bg-[#FFFFFF] overflow-auto">
  <header class="mt-10">
    <div class="bg-[#FFFFFF] flex gap-2.5 p-5 flex-col items-center justify-evenly  w-full text-[#000000] rounded-b-2xl py-5 z-50">
      <div class="flex flex-row justify-start w-full ">
        <button class="justify-start"><img src="../assets/down.svg"></button>
        <h2 class="mx-auto text-xl font-semibold">Регистрация</h2>
      </div>
    </div>
  </header>
  <div   class="mt-7 container mx-auto px-5 md:px-40 xl:px-80 flex  flex-col mb-20">
      <div class="mt-2.5 w-full">
        <div class="relative flex flex-row justify-between border border-[#8e8e8e] rounded-2xl">
          <input formControlName="userEmail" type="mail" placeholder="Почта" class="p-2.5 bg-[#FFFFFF] rounded-2xl text-[#8e8e8e] w-full outline-none">
          <img class="absolute input__img" src="../assets/mail.svg">
        </div>
        <div class="relative flex flex-row justify-between border border-[#8e8e8e] rounded-2xl mt-4">
          <input formControlName="userPassword" type=" text" placeholder="Введите пароль" class="p-2.5 bg-[#FFFFFF] text-[#8e8e8e]  rounded-2xl w-full outline-none">
          <img class="absolute input__img" src="../assets/eyes.svg">
        </div>
        <div class="relative flex flex-row justify-between border border-[#8e8e8e] rounded-2xl mt-4">
          <input formControlName="userPassword2" type="password" placeholder="Повторите пароль" class="p-2.5 bg-[#FFFFFF]  text-[#8e8e8e]  rounded-2xl w-full outline-none">
          <img class="absolute input__img" src="../assets/eyes-close.svg">
        </div>
        <div>
          @if (registrationForm.errors?.["PasswordDoNotMatch"]) {
            <div>
              <span style="color: red;">Пароли не совпадают</span>
            </div>
          }
        </div>
        <div class="flex flex-row justify-evenly">
          @if (registrationForm.valid) {
            <img class="pr-2 sticky" src="../assets/green-cross.svg">
            <h4 class="text-[#8e8e8e] text-sm mt-4">
              Пароль должен состоять как минимум из 8 символов, состоять из прописных и строчных букв и содержать уникальный код, например #%!
            </h4>
          }
          @else {
            <img class="pr-2 sticky" src="../assets/red-cross.svg">
            <h4 class="text-[#8e8e8e] text-sm mt-4">Надежный пароль должен содержать как минимум восемь знаков,
              среди которых есть как прописные, так и строчные буквы, а также специальные символы</h4>
          }

        </div>
      </div>
  </div>
  <div class="w-full fixed px-5 md:px-40 xl:px-96 bottom-0 left-0">
    <h4 class="text-[#8e8e8e] text-sm mb-4">Нажимая кнопку «Согласиться и продолжить»,
      вы соглашаетесь с <span class="bg-gradient-to-r from-[#8567FA] to-[#4FACE2] inline-block text-transparent bg-clip-text">
      Условиями использования</span> и подтверждаете
      <span class="bg-gradient-to-r from-[#8567FA] to-[#4FACE2] inline-block text-transparent bg-clip-text">Политику
      конфиденциальности и Политику конфиденциальности</span></h4>
    <app-next-btn (click)="onSubmit()"  buttonText="Далее"></app-next-btn>
  </div>
</div>
