<h4 class="mt-3.5 ml-2 font-medium">Сколько времени вы дома в течении дня?</h4>
    <div class="bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full flex flex-col mt-1 color-[#00000080]">
      <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
        <input class="accent-[#8567FA] h-5 w-5" type="radio"/>
        <label class="pl-2 text-center" for="checkbox">до 5 часов</label>
      </div>
      <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
        <input class="accent-[#8567FA] h-5 w-5" type="radio"/>
        <label class="pl-2" for="checkbox">от 5 до 10 часов</label>
      </div>
      <div class="pl-3 p-2.5 items-center flex flex-row">
        <input class="accent-[#8567FA] h-5 w-5" type="radio"/>
        <label class="pl-2" for="checkbox">больше 10 часов</label>
      </div>
    </div>
    <h4 class="mt-3.5 ml-2 font-medium">Насколько часто устраиваете вечеринки?</h4>
    <div class="bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full flex flex-col mt-1 color-[#00000080]">
      <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
        <input class="accent-[#8567FA] h-5 w-5" type="radio"/>
        <label class="pl-2 text-center" for="checkbox">раз в неделю</label>
      </div>
      <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
        <input class="accent-[#8567FA] h-5 w-5" type="radio"/>
        <label class="pl-2" for="checkbox">раз в месяц</label>
      </div>
      <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
        <input class="accent-[#8567FA] h-5 w-5" type="radio"/>
        <label class="pl-2" for="checkbox">несколько раз в год</label>
      </div>
      <div class="pl-3 p-2.5 items-center flex flex-row">
        <input class="accent-[#8567FA] h-5 w-5" type="radio"/>
        <label class="pl-2" for="checkbox">не устраиваю вечеринки</label>
      </div>
    </div>