@if (Cards$ | async; as cards){
  @for (card of cards; track card.price){
  <div class="flex flex-col items-center w-full mt-5 bg-[#FFFFFF] rounded-2xl mb-5 relative">
        <img class="w-full h-48 min-h-48 rounded-t-2xl lg:h-96" src="../assets/room.png">
        <div class="flex flex-row w-full justify-between p-4">
            <div class="flex flex-col w-full">
              <div class="flex items-center justify-between">
                <h3 class="font-semibold text-xl">{{card.price}} ₽/мес.</h3>
                <div class="text-xs text-[#8567FA] font-semibold"><h4 class="border-[#8567FA] rounded-3xl border px-2">для {{card.inhabitantsCount}} чел.</h4></div>
              </div>
                <h4 class="text-sm">Комната {{card.square}} м² в {{card.apartment.roomsCount}}-к, {{card.apartment.currentFloor}}/{{card.apartment.maxFloor}} эт.</h4>
                <h4 class="text-xs text-[#00000080]">{{card.apartment.address}}</h4>
            </div>
            <img src="../assets/selected.svg" class="absolute top-2 right-2" alt="">
        </div>
  </div>
  }
}


<!-- <div class="flex flex-col items-center w-full mt-5 bg-[#FFFFFF] rounded-2xl mb-5">
  <img class="w-full h-48 min-h-48 rounded-t-2xl lg:h-96" src="../assets/room.png">
  <div class="flex flex-row w-full justify-between p-2.5">
      <div class="flex flex-col">
          <h3 class="font-semibold">{{dwelling.price}} ₽/мес. с чел.</h3>
          <h4 class="text-xs">Комната {{dwelling.square}} м² в {{dwelling.apartment.roomsCount}}-к, {{dwelling.apartment.currentFloor}}/{{dwelling.apartment.maxFloor}} эт.</h4>
          <h4 class="text-xs text-[#00000080]">{{dwelling.address}}</h4>
      </div>
      <div class="text-xs text-[#8567FA] font-semibold mt-2"><h4 class="border-[#8567FA] rounded-3xl border px-2 py-1">до 2-х человек</h4></div>
  </div>
</div> -->
