<div class="flex flex-col items-center w-fit m-auto mt-5 bg-[#FFFFFF] rounded-2xl mb-5">
    <img class="w-80 h-48 rounded-t-2xl" src="../assets/room.png">
    <div class="flex flex-row w-max gap-10 p-2.5">
        <div class="flex flex-col">
            <h3 class="font-semibold">10 000 ₽/мес. с чел.</h3>
            <h4 class="text-xs">Комната 21 м² в 2-к, 7/10 эт.</h4>
            <h4 class="text-xs text-[#00000080]">г. Сургут, ул. Ленина, 18</h4>
        </div>
        <div class="text-xs text-[#8567FA] font-semibold mt-2"><h4 class="border-[#8567FA] rounded-3xl border px-2 py-1">до 2-х человек</h4></div>
    </div>
</div>
