<div class="w-full   mx-auto flex flex-col h-dvh bg-[#EBEBEB] overflow-auto">
    <header class="mb-16">
        <div class="bg-[#8567FA] flex gap-2.5 p-5 flex-col  items-center justify-evenly  fixed w-full text-[#FEFEFE] rounded-b-2xl py-5 z-50">
            <div class="flex flex-row justify-start w-full ">
              <button class="justify-start" [routerLink]="['/match']"><img src="../assets/arrow.png"></button>
              <h2 class="mx-auto text-xl font-semibold">Мы подобрали вам жилье</h2>
            </div>
          </div>
    </header>
    <div class="container mx-auto px-5 md:px-40 xl:px-96 mb-40">
      @if (cardOfUser$ | async; as card){
        <div  class="flex flex-col items-center w-full mt-5 bg-[#FFFFFF] rounded-2xl mb-5 relative">
          <img class="w-full h-48 min-h-48 rounded-t-2xl lg:h-96 object-cover object-center" src="../assets/room.png">
          <div class="flex flex-row w-full justify-between p-4">
              <div class="flex flex-col w-full">
                <div class="flex items-center justify-between">
                  <h3 class="font-semibold text-xl">{{card.price}} ₽/мес.</h3>
                  <div class="text-xs text-[#8567FA] font-semibold"><h4 class="border-[#8567FA] rounded-3xl border px-2">для {{card.inhabitantsCount}} чел.</h4></div>
                </div>
                  <h4 class="text-sm">Комната {{card.square}} м² в {{card.apartment.roomsCount}}-к, {{card.apartment.currentFloor}}/{{card.apartment.maxFloor}} эт.</h4>
                  <h4 class="text-xs text-[#00000080]">{{card.apartment.address}}</h4>
              </div>
              <div class="absolute top-2 right-2">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="30" height="30" rx="15" fill="black" fill-opacity="0.4"/>
                  <path d="M8 14.5988L12.5988 19.1975L17.2056 14.5988L21.8125 10" stroke="white" stroke-opacity="0.3" stroke-width="2.73" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
          </div>
    </div>
   }

        <div class="mt-5">
            <h3 class="mx-auto text-xl font-semibold text-[#000000] text-center">Ваши соседи:</h3>
            <div class="flex flex-row gap-2.5 justify-center mt-2.5">
                <img class="rounded-full w-20 h-20 object-cover object-center" src="../assets/sigma-2.jpg">
                <img class="rounded-full w-20 h-20 object-cover object-center" src="../assets/sigma.jpg">
            </div>
            <a class="mt-5 text-center leading-6 mx-auto w-full text-[#FFFFFF] cursor-pointer
            bg-gradient-to-r from-[#8567FA] to-[#4FACE2] py-3.5 rounded-3xl font-semibold flex flex-row justify-center" href="https://t.me/child_p01"><img src="../assets/tg.svg"><a class="pt-1 pl-2.5">Перейти в общий чат</a></a>
            <a class="flex flex-row justify-center mt-2.5 text-center leading-6 bg-[#FFFFFF] border-[#8567FA] border py-3.5 px-4 rounded-3xl font-semibold w-full cursor-pointer" href="https://t.me/piotr_makarov"><img src="../assets/tg-gradient.svg"><a class="bg-gradient-to-r from-[#8567FA] to-[#4FACE2] text-transparent
                bg-clip-text pt-1 pl-2.5">Связаться с владельцем</a></a>
        </div>


    </div>
    <div class="w-full fixed px-5 md:px-40 xl:px-96 bottom-0 left-0">
        <h4 class="mx-auto font-semibold text-[#000000] text-center mb-2.5 bg-[#EBEBEB]">Не договорились об аренде?</h4>
        <app-next-btn  [routerLink]="['/profile']" buttonText="Продолжить поиск"></app-next-btn>
    </div>
  </div>
