<div class="w-full mx-auto flex flex-col h-dvh bg-[#FFFFFF] overflow-auto">
    <header class="mt-10">
      <div class="bg-[#FFFFFF] flex gap-2.5 p-5 flex-col items-center justify-evenly  w-full text-[#000000] rounded-b-2xl py-5 z-50">
        <div>
            <img src="../assets/logo.svg">
        </div>
      </div>
    </header>
    <div [formGroup]="authorizationForm" class="mt-16 container mx-auto px-5 md:px-40 xl:px-80 flex  flex-col mb-20">
        <div class="mt-2.5 w-full">
          <div class="relative flex flex-row justify-between border border-[#8e8e8e] rounded-2xl">
            <input formControlName="email" type="mail" placeholder="Почта" class="p-2.5 bg-[#FFFFFF] rounded-2xl text-[#8e8e8e] w-full outline-none">
            <img class="absolute input__img" src="../assets/mail.svg">
          </div>
          <div class="relative flex flex-row justify-between border border-[#8e8e8e] rounded-2xl mt-4">
            <input passwordStrength formControlName="password" [type]="changetype?'password':'text'" placeholder="Пароль" class="p-2.5 bg-[#FFFFFF]  text-[#8e8e8e]  rounded-2xl w-full outline-none">
            <span class="cursor-pointer" (click)="viewpass()"><i class="absolute input__img w-6 h-6" [ngClass]="visible?'eye':'eye-closed'"></i></span>
          </div>
          <h5 [routerLink]="['/verification']" class="bg-gradient-to-r from-[#8567FA] to-[#4FACE2] pl-1.5 text-transparent bg-clip-text text-sm mt-4">Забыли пароль?</h5>
          <button (click)="confirmAuth()" [routerLink]="['/profile']" class="mt-2.5 text-center leading-6 w-full text-[#FFFFFF] bg-gradient-to-r from-[#8567FA] to-[#4FACE2] py-3.5 rounded-2xl font-semibold">Войти</button>
          <button [routerLink]="['/']" class="mt-2.5 text-center leading-6 bg-[#FFFFFF] border-[#8567FA] border py-3.5 px-4 rounded-2xl font-semibold w-full"><a class="bg-gradient-to-r from-[#8567FA] to-[#4FACE2] text-transparent
            bg-clip-text flex flex-row justify-center"><img class="mr-2" src="../assets/google.svg">Войти с помощью Google</a></button>
        </div>
        <div class="flex flex-col items-center">
          <h5 class="bg-gradient-to-r from-[#8567FA] to-[#4FACE2] pl-1.5 text-transparent bg-clip-text text-sm mt-4 text-center">Нет аккаунта на RentBuddy?</h5>
          <button [routerLink]="['/registration']" class="mt-2.5 text-center leading-6 w-full text-[#FFFFFF] bg-gradient-to-r from-[#8567FA] to-[#4FACE2] py-3.5 rounded-2xl font-semibold"><a>Создать аккаунт</a></button>
        </div>
    </div>
</div>
