
  .input__img{
    top:50%;
    bottom: 50%;
    transform:translate(-50%, -50%);
    right: 0;
  }

  .eye{
    background-image: url('/assets/eyes.svg');
  }

  .eye-closed{
    background-image: url('/assets/eyes-close.svg');
  }

