<div class="w-full mx-auto flex flex-col h-dvh bg-[#FFFFFF] overflow-hidden">
    <header class="mb-16">
      <div class="bg-[#8567FA] flex gap-2.5 p-5 flex-col  items-center justify-evenly  fixed w-full text-[#FEFEFE] rounded-b-2xl py-5 z-50">
        <div class="flex flex-row justify-start w-full ">
          <button class="justify-start"><img src="../assets/arrow.png"></button>
          <h2 class="mx-auto text-xl font-semibold">Подбор соседа</h2>
        </div>
      </div>
    </header>
    <div class="mt-5 container h-full mx-auto px-5 md:px-40 flex flex-col xl:px-96 mb-9">
        <img class="rounded-2xl h-full w-auto object-cover object-center" src="../assets/nikita.png">
        <div class="absolute bottom-0 px-5 pb-16 mx-auto self-center ml-5 xl:ml-40">
            <h2 class="text-2xl font-semibold text-[#FEFEFE]">Никита, 21</h2>
            <h3 class="text-[#FEFEFE] w-full">Я общительный, ищу соседа, чтобы было комфортно снимать жильё</h3>
            <div class="flex flex-row justify-evenly mt-5 pr-7 gap-4">
                <button class=""><img src="../assets/dis.svg"></button>
                <button class=""><img src="../assets/info.svg"></button>
                <button class=""><img src="../assets/like.svg"></button>
            </div>

        </div>
    </div>
</div>
