<div class="w-full md:pt-12 flex flex-col  bg-[#FFFFFF] overflow-hidden">
    <header class="w-full md:max-w-84 self-center py-5 px-3 md:py-2 bg-[#8567FA] rounded-b-2xl md:rounded-2xl">
      <div class=" flex gap-2.5 relative flex text-[#FEFEFE]">
        <div class="flex absolute self-center">
          <button class="justify-start" [routerLink]="['/select-rent']"><img src="../assets/arrow.png"></button>
        </div>
        <h2 class="mx-auto text-xl font-normal">Подбор соседа</h2>
      </div>
    </header>
  @if (usersForMatching$ | async; as user){
    <div class="flex items-center pt-5 flex-col gap-3">
      <div *ngIf="this.index != this.length; else noUsers" class="min-h-120 w-84 relative"
      [@cardAnimator]="animationState"
      (@cardAnimator.done)="resetAnimationState()"
      (swipeleft)='startAnimation("swipeleft", user[index].id)'
      (swiperight)='startAnimation("swiperight", user[index].id)'>
          <img class="rounded-2xl w-full h-full object-cover absolute object-center" src="../assets/nikita.png">
          <div class=" absolute bottom-0 flex flex-col pb-7 px-5 w-full gap-5">
              <div class="flex flex-col gap-1">
                <h2 class="text-2xl font-semibold text-[#FEFEFE]">{{user[index].name}}</h2>
                <h3 class="text-[#FEFEFE]">{{user[index].aboutMe}} lorem</h3>
              </div>
              <div class="flex gap-4 self-center">
                  <button class="" (click)="toblackList()" (click)='startAnimation("swipeleft", user[index].id)'><img src="../assets/dis.svg"></button>
                  <button class=""><img src="../assets/info.svg"></button>
                  <button class="" (click)='startAnimation("swiperight", user[index].id)'><img src="../assets/like.svg"></button>
              </div>
          </div>
        </div>
        <div class="w-84">
          <app-next-btn class="w-full" [routerLink]="['/suggestion']" buttonText="Далее"></app-next-btn>
        </div>
    </div>

    <ng-template #noUsers>
      <div class="mt-7 container mx-auto px-5 md:px-40 xl:px-96 flex flex-col">
        <h3 class="font-semibold text-2xl w-full text-center mt-52">Пользователи закончились(</h3>
        <h2 class="text-xl w-full text-center mt-2.5">Зайдите позже или вернитесь к выбору комнат</h2>
        <h2 class="font-semibold text-6xl w-full text-center mt-2.5">😢</h2>
      </div>
  </ng-template>
  }
</div>
