<div class="w-full mx-auto flex flex-col h-dvh bg-[#FFFFFF] overflow-auto">
  <header class="mb-16">
    <div class="bg-[#8567FA] flex gap-2.5 p-5 flex-col  items-center justify-evenly
    fixed w-full text-[#FEFEFE] rounded-b-2xl py-5 z-50">
      <div class="flex flex-row justify-start w-full ">
        <button class="justify-start"><img src="../assets/arrow.png"></button>
        <h2 class="mx-auto text-xl font-semibold">Ваше объявление</h2>
      </div>
    </div>
  </header>
  <div [formGroup]="apartmentForm">
    <div class="mt-7 container mx-auto px-5 md:px-40 xl:px-96 flex  flex-col mb-20">
      <h3 class="font-semibold text-2xl">Квартира</h3>
      <h4 class="mt-3.5">Адрес</h4>
      <div class="mt-1 w-full">
        <input formControlName="adress" type="text" placeholder="Введите улицу и номер дома" class="p-2.5 bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full">
      </div>
      <h4 class="mt-3.5">Этаж</h4>
      <div class="mt-1 w-full">
        <input formControlName="floor" type="text" placeholder="Введите номер этажа" class="p-2.5 bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full">
      </div>
      <h4 class="mt-3.5">Количество комнат</h4>
      <div class="mt-1 w-full">
        <input formControlName="roomsAmount" type="text" placeholder="Введите количество комнат" class="p-2.5 bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full">
      </div>
      <h4 class="mt-3.5">Общая площадь, м²</h4>
      <div class="mt-1 w-full">
        <input formControlName="square" type="text" placeholder="0,0" class="p-2.5 bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full">
      </div>
      <h4 class="mt-3.5">Санузел</h4>
      <div class="flex justify-evenly gap-2.5 mt-1.5">
        <button [ngClass]="{isSelect: bathroomBool}" (click)="bath(true)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  opacity-40 w-full">Совмещённый</button>
        <button [ngClass]="{isNotSelect: bathroomBool}" (click)="bath(false)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  w-full">Раздельный</button>
      </div>
      <div class="mt-1.5 w-full">
        <input formControlName="bathroomAmount" type="text" placeholder="Количество санузлов в квартире" class="p-2.5 bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full">
      </div>
      <h4 class="mt-3.5">Техника</h4>
      <div class="bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full flex flex-col mt-1 color-[#00000080]" [formGroup]="techniqueForm">
        <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="fridge" class=" accent-[#8567FA] h-5 w-5" type="checkbox" name="technique" value="Холодильник"/>
          <label class=" pl-2 text-center" for="checkbox">Холодильник</label>
        </div>
        <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="microwave" class=" accent-[#8567FA] h-5 w-5" type="checkbox" name="technique" value="Микроволновка"/>
          <label class=" pl-2" for="checkbox">Микроволновка</label>
        </div>
        <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="washingMachine" class=" accent-[#8567FA] h-5 w-5" type="checkbox" name="technique" value="Стиральная машина"/>
          <label class=" pl-2 text-center" for="checkbox">Стиральная машина</label>
        </div>
        <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="dishwasher" class=" accent-[#8567FA] h-5 w-5" type="checkbox" name="technique" value="Посудомоечная машина"/>
          <label class=" pl-2" for="checkbox">Посудомоечная машина</label>
        </div>
        <div class="pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="kitchenStove" class="accent-[#8567FA] h-5 w-5" type="checkbox"  name="technique" value="Плита"/>
          <label class="pl-2" for="checkbox">Плита</label>
        </div>
      </div>
      <h4 class="mt-3.5">Wi-Fi</h4>
      <div class="flex justify-evenly gap-2.5 mt-1.5">
        <button [ngClass]="{isSelect: wifiBool}" (click)="wifi(true)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  opacity-40 w-full">Да</button>
        <button [ngClass]="{isNotSelect: wifiBool}" (click)="wifi(false)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  w-full">Нет</button>
      </div>
      <h3 class="font-semibold text-xl mt-5">О доме</h3>
      <h4 class="mt-2.5">Этажей в доме</h4>
      <div class="mt-1 w-full">
        <input formControlName="floorMax" type="text" placeholder="Введите количество этажей" class="p-2.5 bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full">
      </div>
      <h4 class="mt-3.5">Пассажирский лифт</h4>
      <div class="flex justify-evenly gap-2.5 mt-1.5">
        <button [ngClass]="{isSelect: passengerElevatorBool}" (click)="passengerElevator(true)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  opacity-40 w-full">Да</button>
        <button [ngClass]="{isNotSelect: passengerElevatorBool}" (click)="passengerElevator(false)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  w-full">Нет</button>
      </div>
      <h4 class="mt-3.5">Грузовой лифт</h4>
      <div class="flex justify-evenly gap-2.5 mt-1.5">
        <button [ngClass]="{isSelect: serviceElevatorBool}" (click)="serviceElevator(true)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  opacity-40 w-full">Да</button>
        <button [ngClass]="{isNotSelect: serviceElevatorBool}" (click)="serviceElevator(false)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  w-full">Нет</button>
      </div>
      <h4 class="mt-3.5">Парковка</h4>
      <div class="bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full flex flex-col mt-1 color-[#00000080]">
        <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="parking" class=" accent-[#8567FA] h-5 w-5" type="radio" name="parking" value="Подземная"/>
          <label class=" pl-2 text-center" for="parking">Подземная</label>
        </div>
        <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="parking" class=" accent-[#8567FA] h-5 w-5" type="radio" name="parking" value="Открытая во дворе"/>
          <label class=" pl-2" for="parking">Открытая во дворе</label>
        </div>
        <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="parking" class=" accent-[#8567FA] h-5 w-5" type="radio" name="parking" value="Наземная многоуровневая"/>
          <label class=" pl-2" for="parking">Наземная многоуровневая</label>
        </div>
        <div class="pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="parking" class="accent-[#8567FA] h-5 w-5" type="radio"  name="parking" value="За шлагбаумом во дворе"/>
          <label class="pl-2" for="parking">За шлагбаумом во дворе</label>
        </div>
      </div>
      <h4 class="mt-3.5">Двор</h4>
      <div class="bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full flex flex-col mt-1 color-[#00000080]">
        <div class="border-b border-[#8e8e8e] pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="courtyard" class=" accent-[#8567FA] h-5 w-5" type="radio" name="courtyard" value="Открытый, неогороженный"/>
          <label class=" pl-2 text-center" for="courtyard">Открытый, неогороженный</label>
        </div>
        <div class="pl-3 p-2.5 items-center flex flex-row">
          <input formControlName="courtyard" class="accent-[#8567FA] h-5 w-5" type="radio"  name="courtyard" value="Закрытый"/>
          <label class="pl-2" for="courtyard">Закрытый</label>
        </div>
      </div>
      <h4 class="mt-2.5">Спортивная/детская площадка</h4>
      <div class="flex justify-evenly gap-2.5 mt-1.5">
        <button [ngClass]="{isSelect: sportsGroundBool}" (click)="sportsGround(true)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  opacity-40 w-full">Да</button>
        <button [ngClass]="{isNotSelect: sportsGroundBool}" (click)="sportsGround(false)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  w-full">Нет</button>
      </div>
      <h3 class="font-semibold text-xl mt-5">Правила</h3>
      <h4 class="mt-2.5">Максимум гостей</h4>
      <div class="mt-1 w-full">
        <input formControlName="maxGuests" type="text" placeholder="Введите максимальное количество гостей" class="p-2.5 bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full">
      </div>
      <h4 class="mt-3.5">Можно с животными?</h4>
      <div class="flex justify-evenly gap-2.5 mt-1.5">
        <button [ngClass]="{isSelect: petAllowedBool}" (click)="petAllowed(true)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  opacity-40 w-full">Да</button>
        <button [ngClass]="{isNotSelect: petAllowedBool}" (click)="petAllowed(false)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  w-full">Нет</button>
      </div>
      <h4 class="mt-3.5">Разрешено курить?</h4>
      <div class="flex justify-evenly gap-2.5 mt-1.5">
        <button [ngClass]="{isSelect: smokingAllowedBool}" (click)="smokingAllowed(true)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  opacity-40 w-full">Да</button>
        <button [ngClass]="{isNotSelect: smokingAllowedBool}" (click)="smokingAllowed(false)" class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl  w-full">Нет</button>
      </div>
      <h3 class="font-semibold text-xl mt-5">Фотографии</h3>
      <div class="flex flex-row gap-2.5">
        <label for="img-input-1">
          <img id="blah-1" alt="" class="mt-2.5 rounded-2xl h-48 w-48 object-cover object-center bg-[url('assets/default.svg')] bg-center"/>
          <input type="file" id="img-input-1" class="hidden"
              onchange="document.getElementById('blah-1').src = window.URL.createObjectURL(this.files[0])">
        </label>
        <label for="img-input-2">
          <img id="blah-2" alt="" class="mt-2.5 rounded-2xl h-48 w-48 object-cover object-center bg-[url('assets/default.svg')] bg-center"/>
          <input type="file" id="img-input-2" class="hidden"
                 onchange="document.getElementById('blah-2').src = window.URL.createObjectURL(this.files[0])">
        </label>
      </div>
      <h3 class="font-semibold text-xl mt-5">Описание</h3>
      <div class="mt-1 w-full">
        <textarea formControlName="description" type="text" rows="4ф"
                  placeholder="Расскажите, что есть в квартире, опишите детали. Опишите дом, что находится рядом с ним. Это даст дополнительную информацию арендаторам. "
                  class="p-2.5 bg-[#FFFFFF] border border-[#8e8e8e] rounded-2xl w-full resize-none outline-none"></textarea>
      </div>
      <h3 class="font-semibold text-xl mt-5">Комнаты в квартире</h3>
      <button class="bg-[#8567FA] text-[#FEFEFE] py-2.5 px-6 font-semibold rounded-2xl w-2/4 flex gap-1.5 justify-center mt-2.5 mb-10">
        <img src="./assets/plus.svg">
        Добавить
      </button>
    </div>
    <div class="w-full fixed px-5 md:px-40 xl:px-96 bottom-0 left-0">
      <app-next-btn buttonText="Далее" (click)="next()"></app-next-btn>
    </div>
  </div>
</div>
